.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.profileCard {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  @apply grid place-items-center;
}

.loaderContainer {
  @apply h-screen grid place-items-center;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

.profileName {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.profileEmail {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.editButton,
.logoutButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.editButton {
  background-color: #007bff;
  color: white;
}

.logoutButton {
  background-color: #dc3545;
  color: white;
}

.editButton:hover {
  background-color: #0056b3;
}

.logoutButton:hover {
  background-color: #a71d2a;
}
